@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    letter-spacing: .5px;
}
:root{
    --primary-color:#dd6565;
    --secondary-color:#128643;
    --light-pink-color:#fdfcfc;
    --secondary-color-light:rgb(18, 114, 18);
    --border-color:rgb(231, 227, 227);
    --linkhover-color:rgba(18, 156, 18, 0.945); 
    --header-background:linear-gradient(to left, #caf8a8, #8ff1a4);
    
}
::selection{
    background-color: var(--secondary-color);
    color: var(--light-pink-color);
}
body{
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 6px;
}
::-webkit-scrollbar-track{
    background-color: rgb(212, 215, 221);
}

/* Header Styles */
.header{
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0 0  10px 5px rgba(145, 144, 144, 0.2); 
    background-color: rgb(255, 255, 255);
}
.header .logo a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: 650;
    cursor: pointer;
    user-select: none;
    transition: .2s;
}
.header .logo a:hover{
    color: #0ebb53;
}
.navbar ul{
    list-style: none;
    display:flex;
    padding: 25px ;
}
.navbar ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 20px;
    padding:0 25px;
    font-weight: 550;
    transition: .2s;
}
.navbar ul li a:hover{
    color: #0ebb53;
}

/* user Profiles  */

 .signin{
    display: none;
}
.signin a{
    text-decoration: none;
    font-size: 1.2rem;
    border: 1px solid var(--secondary-color);
    padding: 5px 20px;
    border-radius: 5px;
    color: var(--secondary-color);
}
.signin.active{
    display: flex;
}
.profile-btn{
    display: none;
    background-color: transparent;
    border: none;
    font-size:2rem;
    cursor: pointer;
    color: var(--secondary-color);
}
.profile-btn.active{
    display: flex;
} 

.user-profile-container{
    width: 15rem;
    height: 15rem;
    padding: .5rem;
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px  ;
    box-shadow: 0px 5px 10px 1px rgba(179, 173, 173, 0.9);
    transition: .5s;
    transform: translateX(200%);
    opacity: 0;
}
.user-profile-container button{
    background-color: transparent;
    border: none;
}
.user-profile-container.active{
    transform: translateY(0);
    opacity: 1;
}
.user-profile-container .profile-icon{
    min-width: 3.5rem;
    min-height: 3.5rem;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
}
.user-profile-container .profile-icon i{
    height: 2rem;
    font-size: 1.8rem;
    color: #ffffff;
}
.user-profile-container .profile-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .user-profile-container .profile-details h3{
    color: var(--secondary-color);
    font-size: 1.2rem;
    color: #fff;
    color: var(--secondary-color);
    font-weight: 400;
}
.user-profile-container .profile-details p{
    color: var(--secondary-color);
    font-size: 1rem;
    color: #fff;
    color: var(--secondary-color);
    font-weight: 400;

}
.user-profile-container .sign-out{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
}
.user-profile-container .sign-out span{
    color: var(--secondary-color);
    font-size: 1rem;
    cursor: pointer;
    background-color: #fff;
    padding:  3px 20px;
    border-radius: 5px;
    border: 1px solid ;
}
.user-profile-container .close-btn{
    position: absolute;
    top: 0;
    right: 0%;
    left: 60%;
    font-size: 1.5rem;
    cursor: pointer;
} 

main{
    width: 100vw;
    /* min-height: 50vh; */
}
/* About page Styles */

.about-profile-container{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-profile-container .about-us{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-pink-color);
    border-radius: 10px;
}
.about-profile-container .about-us .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 10px;
}
.about-profile-container .about-us .content h2{
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: var(--secondary-color);
    font-weight: bold;
} 
.about-profile-container .about-us .content p{
    font-weight: 400;
}
.about-profile-container .about-us .content h3{
    color: var(--secondary-color);
    font-weight: 400;
}

.about-service-container{
    min-width: 100vw;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.about-service-container .service-section{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    background-color: var(--light-pink-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 0  5px 2px rgb(238, 236, 236);
}
.about-service-container .service-section h2{
    color: var(--secondary-color);
    font-weight: 500;
}
.about-service-container .service-section p{
    font-weight: 400;
    text-align: justify;
    padding: 4px 10px;
}
.about-service-container .service-section img{
    width: 300px;
    height: 300px;
}


.about-container{
    width: 100vw;
    /* min-height: 100vh; */
    display: grid;
    place-items: center;
    row-gap: 3rem;
    margin-top: 5%;
}
.about-container .service-content{
    width: 90%;
    /* height: 100%; */
}
.about-container .service-content .content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 1rem;
}
.about-container .service-content .content h2{
    margin-top: 5rem;
    color: var(--secondary-color);
    font-size: 2rem;
}
.about-container .service-content .content p{
    font-size: 1.1rem;
    color: rgb(68, 68, 68);
    font-weight: 400;
}
.about-container .service-content .content h4{
    color: var(--secondary-color);
    text-decoration: underline grey;
}
/* Footer Section Styles */
.footer{
    min-width: 100vw;
    height:50vh;
    margin-top: 7%;
    background: linear-gradient( var(--secondary-color),rgb(19, 114, 67));
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    box-shadow: 0 0 10px 5px rgb(235, 233, 233);
}

.footer .logo{
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer .web-info{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid  var(--border-color);
}

.footer .copyright-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer .copyright-container .info ul{
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
}
.footer  ul{
    list-style: none;
}
.footer ul li{
    padding: 8px 0;
    color: var(--light-pink-color);
}
.footer .info li{
    padding: 0 5px;
}
.footer li a{
    text-decoration: none;
    color: var(--light-pink-color);
    font-size: 17px;
}
.footer h2{
    text-align: center;
    font-weight: 550;
    color: var(--light-pink-color);
    text-decoration: underline;
}
.footer li a:hover{
    color:#ece6e6;
}

