@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    letter-spacing: .5px;
}
:root{
    --primary-color:#dd6565;
    --secondary-color:#128643;
    --light-pink-color:#fffafa;
    --secondary-color-light:rgb(18, 114, 18);
    --border-color:rgb(231, 227, 227);
    --linkhover-color:rgba(18, 156, 18, 0.945); 
}
::selection{
    background-color: var(--secondary-color);
    color: var(--light-pink-color);
}
body{
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 6px;
}
::-webkit-scrollbar-track{
    background-color: rgb(212, 215, 221);
}


main{
    width: 100vw;
    min-height:50vh;
    background-image: url(./blur-background.jpg);
   
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 99;
    backdrop-filter: blur(10px);

}
.container .pop-up{
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:#dff;
    border: 1px solid rgb(168, 164, 164);
    border-radius: 10px;
    box-shadow:  0 0 10px 5px rgba(82, 82, 82,.5);

}
.container .pop-up .content{
    display: grid;
    place-items: center;
    row-gap: 1rem;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 20px;
}
.container .pop-up  button{
    background-color: #128643;
    border: 1px solid white;
    border-radius: 5px;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    min-width: 4rem;
    min-height: 2rem;
    padding: 1rem 2rem;
}

