@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    letter-spacing: .5px;
}
:root{
    --primary-color:#dd6565;
    --secondary-color:#128643;
    --light-pink-color:#fffafa;
    --secondary-color-light:rgb(18, 114, 18);
    --border-color:rgb(231, 227, 227);
    --linkhover-color:rgba(18, 156, 18, 0.945); 
}
::selection{
    background-color: var(--secondary-color);
    color: var(--light-pink-color);
}
body{
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 6px;
}
::-webkit-scrollbar-track{
    background-color: rgb(212, 215, 221);
}

/* Header Styles */

.header{
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0 0  10px 5px rgba(145, 144, 144, 0.2); 
    background-color: rgb(255, 255, 255);
}
.header .logo a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: 650;
    cursor: pointer;
    user-select: none;
    transition: .2s;
}
.header .logo a:hover{
    color: #0ebb53;
}
.navbar ul{
    list-style: none;
    display:flex;
    padding: 25px ;
}
.navbar ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 20px;
    padding:0 25px;
    font-weight: 550;
    transition: .2s;
}
.navbar ul li a:hover{
    color: #0ebb53;
}
.signup-btn{
    padding: 3px 25px;
    text-align: center;
    font-size: 18px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    color: var(--secondary-color);
    background-color: transparent;
    transition: all .5s ease-in-out;
}
.signup-btn:hover{
    background-color: var(--secondary-color);
    color: #ffffff;
}


/* user Profiles  */

 .signin{
    display: none;
    /* margin-bottom: 30%; */
}
.signin a{
    text-decoration: none;
    font-size: 1.2rem;
    border: 1px solid var(--secondary-color);
    padding: 5px 20px;
    border-radius: 5px;
    color: var(--secondary-color);
}
.signin.active{
    display: flex;
}
.profile-btn{
    display: none;
    background-color: transparent;
    border: none;
    font-size:2rem;
    cursor: pointer;
    color: var(--secondary-color);
}
.profile-btn.active{
    display: flex;
} 

.user-profile-container{
    width: 15rem;
    height: 15rem;
    padding: .5rem;
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px  ;
    box-shadow: 0px 5px 10px 1px rgba(179, 173, 173, 0.9);
    transition: .5s;
    transform: translateX(200%);
    opacity: 0;
}
.user-profile-container button{
    background-color: transparent;
    border: none;
}
.user-profile-container.active{
    transform: translateY(0);
    opacity: 1;
}
.user-profile-container .profile-icon{
    min-width: 3.5rem;
    min-height: 3.5rem;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
}
.user-profile-container .profile-icon i{
    height: 2rem;
    font-size: 1.8rem;
    color: #ffffff;
}
.user-profile-container .profile-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .user-profile-container .profile-details h3{
    color: var(--secondary-color);
    font-size: 1.2rem;
    color: #fff;
    color: var(--secondary-color);
    font-weight: 400;
}
.user-profile-container .profile-details p{
    color: var(--secondary-color);
    font-size: 1rem;
    color: #fff;
    color: var(--secondary-color);
    font-weight: 400;

}
.user-profile-container .sign-out{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
}
.user-profile-container .sign-out span{
    color: var(--secondary-color);
    font-size: 1rem;
    cursor: pointer;
    background-color: #fff;
    padding:  3px 20px;
    border-radius: 5px;
    border: 1px solid ;
}
.user-profile-container .close-btn{
    position: absolute;
    top: 0;
    right: 0%;
    left: 60%;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--secondary-color);
} 
main{
    width: 100vw;
    min-height: 100vh;
    margin-top: 5%;
    display: grid;
    place-items: center;
    position: relative;

}

.trainer-container{
    /* width: 90vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebfaf1;

}
.trainer-container .banner-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    position: relative;
    margin-top: 5%;
}
.trainer-container .banner-content h1{
    font-size: 55px;
    color: var(--secondary-color);
}
.trainer-container .banner-content p{
    font-size: 18px;
    text-align: center;
    padding: 2px 20px;
}
.trainer-container .banner-content .getstd-btn{
    padding: 5px 50px;
    font-size: 22px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    cursor: pointer;
    background: #ffffff;
    transition: all .5s ease-in-out;
}
.trainer-container .banner-content .getstd-btn:hover{
    background-color: var(--secondary-color);
    color: #ffffff;
}

.container{
    height: 100%;
    width: 100vw;
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}
.container .membership-container{
    width: 30%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-radius: 2px;
}
/* Background color */
.container .silvar-package{
    background-color:#017D66;

}
.container .gold-package{
    background-color:firebrick;
    /* color: #fff; */
}
.container .platinum-package{
    background-color: rgb(0, 0, 0);
    /* color: aqua; */
}
/* prize box bakcground color */
.container .silvar-package .top .prize{
    background-color: #FBC203;
}
.container .gold-package .top .prize{
    background-color: #ecc559;
}
.container .platinum-package .top .prize{
    background-color: aqua;
}
.container .silvar-package  .info h4{
    color: #FBC203;
}
.container .gold-package  .info h4{
    color: #ecc559;
}
.container .platinum-package  .info h4{
    color: aqua;
}

.container .silvar-package  i{
    color: #FBC203;
}
.container .gold-package  i{
    color: #ecc559;

}
.container .platinum-package  i{
    color: aqua;
}

.container .membership-container .top{
    display: flex;
    justify-content: space-evenly;
}
.container .membership-container .title p{
    /* background-color: #fff; */
    /* color: black; */
    text-align: center;
    font-size: 14px;
    width: 150px;
    letter-spacing: 2px;
    /* position: relative; */
    /* right: 3rem; */
    /* top: 37%; */
    transform: translate(270px,-15px);
}
.container .membership-container .top h2{
    font-size: 2rem;
    padding: 0px 10px 0 15px;
    letter-spacing: 1px;
    color: #fff;
}
.container .membership-container .top .prize{
    height:5rem;
    border-radius:2px;
    display: grid;
    place-items: center;
}

.container .membership-container .top .prize span{
    font-size: 2.5rem;
    padding: 0 1rem;
    font-weight: 600;
    color:  #002B23;

}
.container .membership-container .details{
    width: 100%;
    padding-left: 1rem;
}
.container .membership-container .details ul{
    list-style: none;
}
.container .membership-container .details ul li{
    padding-bottom: 10px;
}
.container .membership-container  .info{
    width: 100%;
    padding-left: 5px;
}
.container .membership-container  .info h4{
    font-weight: 600;
}
.container .membership-container  .info p{
    text-align: justify;
    padding: 0 10px 0 5px;
}
.container .membership-container .bottom{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container .membership-container .bottom span{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    transition: .5s ease-out;
} 
.container .membership-container .bottom span:hover{
   transform: scale(1.05);
   text-shadow: 0 0 2px yellow;

} 
.container .membership-container .bottom .contacts ul li {
    list-style: none;
}
.container .membership-container .bottom .contacts ul li a{
    text-decoration: none;
    color: #ece6e6;
    padding-left: 3px;
    font-size: 12px;
}

/* Alert Box for user details */
.alert-box {
    min-width: 22rem;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 40%;
    transform: translateY(-500px);
    background-color: #ffffff;
    background-color: var(--secondary-color);
    padding: 0rem 1rem;
    border-radius: 5px;
    z-index:999;
    border: 1px solid var(--secondary-color);
    transition: .6s;
    user-select: none;
  }
  .actives{
    display: block;
    transform:translateY(40%);
    transition: .3s;
  }
  .alert-content {
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
} 
  .close {
    position: absolute;
    top: 0px;
    right: 15px;
    cursor: pointer;
    font-size: 2rem;
  }
  button {
    padding: 8px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }

.client-details-container{
    width: 100vw;
    min-height: 100%;
    /* margin-top: 5%; */
    /* display: flex; */
    /* place-items: center; */
    position: absolute;
    top: 0;
    /* background-color: #1da88f; */
    backdrop-filter: blur(5px);
    display: none;
    /* display: block; */

}
.client-details-container .close{
    position: absolute;
    top: 2%;
    right: 29%;
}
.client-details-container .close .close-btn {
    background:none;
    padding: 0;
    color: #9aa09f;
    font-size: 1.2rem;
    font-weight: 400;
    transition: .6s;
}
.client-details-container .close .close-btn:hover{
    color: #002B23;
}
.client-details-container .client-details{
    width: 60%;
}
 .client-details{
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    /* box-shadow: 0 0 10px 5px #002B23; */
  }
  .client-details h2 {
    text-align: center;
    color:#002B23;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
  }
  .client-details .payment-option{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }
  .client-details .payment-option div{
    padding: 5px 0;
  }
  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  input[type="submit"]:hover {
    background-color: #45a049;
  }
.client-details .membership-plans div{
    padding: 7px 0;
}
.memBenefit-container{
    width: 90vw;
    margin-top: 5%;

}
.memBenefit-container .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.memBenefit-container .content h1{
    color: var(--secondary-color);
    font-size: 2.5rem;
}
.memBenefit-container .content h4{
    color: var(--secondary-color);
}
.memBenefit-container .content p{
    color: #706f6f;
    text-align: justify;
}
.memBenefit-container .content .points{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
/* Footer Section Styles */

.footer{
    min-width: 100vw;
    height:50vh;
    margin-top: 7%;
    background: linear-gradient( var(--secondary-color),rgb(19, 114, 67));
    display: flex;
    flex-direction: column;
}
button{
    min-width: 8rem;
    min-height: 2.8rem;
}
.footer .logo{
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer .web-info{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid  var(--border-color);
}

.footer .copyright-container{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer .copyright-container .info ul{
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
}
.footer  ul{
    list-style: none;
}
.footer ul li{
    padding: 8px 0;
    color: var(--light-pink-color);
}
.footer .info li{
    padding: 0 5px;
}
.footer li a{
    text-decoration: none;
    color: var(--light-pink-color);
    font-size: 17px;
}
.footer h2{
    text-align: center;
    font-weight: 550;
    color: var(--light-pink-color);
    text-decoration: underline;
}
.footer li a:hover{
    color:#ece6e6;
}


